<main class="main_container">
    <section class="form_container">
      <h2>New Post</h2>
      <form action="/api/post" method="post">
        <div class="form_item">
          <label for="">Name</label>
          <input type="text" name="name" id="name">
        </div>
        <div class="form_item">
          <label for="">Rating</label>
          <input type="text" name="rating" id="rating">
        </div>
        <div class="form_item">
          <label for="">Complete</label>
          <input type="text" name="complete" id="complete">
        </div>
        <div class="form_item">
          <label for="">Link to watch</label>
          <input type="text" name="linkToWatch" id="linkToWatch">
        </div>
        <div class="form_item">
          <label for="">Year</label>
          <input type="text" name="year" id="year">
        </div>
        <div class="form_item">
          <label for="">Genre</label>
          <input type="text" name="genre" id="genre">
        </div>
        <input type="hidden" id="user_id" name="userId" value="1"> 
        <!-- other form items -->
        <div class="form_submit">
          <button type="submit">Add</button>
        </div>
      </form>

    </section>
    <section class="post_container">
      {{#each posts as |post|}} 
      <div class="post_item">
        <h4> <span>{{post.name}} </span> <span>{{post.rating}}</span> </h4>
        <p>{{this.complete}}</p>
        <p>link to watch</p>
        <p><a href="http://" target="_blank" rel="noopener noreferrer">{{post.linkToWatch}}</a></p>
        <p>{{post.year}}</p>
        <p>{{post.genre}}</p>
      </div>
      {{/each}} 
    </section>
    

    {{#each posts as |post|}}
      <div class="post_item">
        <h4> <span>{{post.name}} </span> <span>{{post.rating}}</span> </h4>
        <p>{{post.complete}}</p>
        <p>link to watch</p>
        <p><a href="http://" target="_blank" rel="noopener noreferrer">{{post.linkToWatch}}</a></p>
        <p>{{post.year}}</p>
        <p>{{post.genre}}</p>
      </div>
      {{/each}}
  </main>
                  